<!-- Character Endcoding -->
<meta charset="utf-8">

<!-- CSS -->
<link href="kuri.prod.bundle.css" rel="stylesheet">

<div style="height: 84px; width:100%; text-align:center; color:#fff;
background-color: darkslategray; z-index: 1000; line-height:84px;">
  FOR PLACEMENT ONLY
</div>

<!-- Component Container -->
<div id="kuri"></div>

<!--
  JS Bundle
  - Exports to the 'kuri' namespace
  - Exports two methods, 'init' and 'destroy'
  -- init: intakes the id of the element you'd like to load the component into
  -- destroy: removes the component from specified id
 -->
<script src="kuri.prod.bundle.js"></script>

<!-- Inline JS -->
<script>

  var mobileBreakpoint = 768, // Mobile breakpoint
    targetElementID = 'kuri', // Target id w/out hash (#)
    assetPaths = {
      images: './assets/images',
      videos: './assets/videos'
    },
    toggleKuri = function() {
      // Toggle component based on window global's inner width
      if (this.innerWidth <= mobileBreakpoint) {
        // Mobile - Only destroy if component exists
        return isKuriLoaded() ? kuri.destroy(targetElementID) : false;
      } else {
        // Desktop - Only load module if it doesn't exist
        return !isKuriLoaded() ? kuri.init(targetElementID, assetPaths) : false;
      }
    },
    isKuriLoaded = function() {
      // Checks if component container has anything in it, if so, module is loaded
      return document.getElementById(targetElementID).hasChildNodes();
    },
    throttle = function (callback, limit) {
      // Simple throttle method
      var wait = false;
      return function () {
        if (!wait) {
          callback.call();
          wait = true;
          setTimeout(function () {
            wait = false;
          }, limit);
        }
      }
    };

  // Event Listeners firing throttled toggleKuri method
  ['load','resize'].forEach(function(e){
    window.addEventListener(e, throttle(toggleKuri, 100));
  })

</script>
