@font-face {
  font-family: 'KuriTTF';
  src: url("/fonts/KuriTTF-reg.ttf") format("truetype"), url("/kuri/fonts/KuriTTF-reg.ttf") format("truetype"); }

@font-face {
  font-family: 'KuriTTF-Bold';
  src: url("/fonts/KuriTTF-bold.ttf") format("truetype"), url("/kuri/fonts/KuriTTF-bold.ttf") format("truetype"); }

body {
  margin: 0; }
  body .kuri-fnf {
    font: 100% KuriTTF, Helvetica, Arial, sans-serif;
    color: #333;
    height: calc(100vh - 84px);
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    position: relative; }
    body .kuri-fnf .slide {
      display: flex;
      height: 100%;
      width: 100vw;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
      body .kuri-fnf .slide .copy {
        opacity: 0;
        visibility: hidden;
        transition: opacity 300ms ease-in-out, transform 300ms ease-in-out, visibility 300ms ease;
        position: absolute;
        top: 50%;
        transform: translateY(-42%);
        justify-content: center;
        left: calc(5px + 3vw);
        z-index: 10;
        height: 50%;
        display: flex;
        flex-direction: column;
        pointer-events: none; }
        body .kuri-fnf .slide .copy h3 {
          font-size: calc(13px + 2.4vw);
          line-height: 1;
          margin: 0 0 1vw;
          font-family: KuriTTF-Bold, Helvetica, Arial, sans-serif;
          pointer-events: none; }
        body .kuri-fnf .slide .copy p {
          font-size: calc(13px + .9vw);
          pointer-events: none; }
        body .kuri-fnf .slide .copy.end-cap {
          width: 100%;
          top: 25%;
          left: 0;
          text-align: center;
          pointer-events: none; }
          body .kuri-fnf .slide .copy.end-cap a {
            color: #333;
            text-decoration: none;
            margin: 0 10px;
            padding-bottom: 3px;
            font-size: 24px;
            border-bottom: 2px solid black;
            pointer-events: auto; }
        body .kuri-fnf .slide .copy.show-copy {
          opacity: 1;
          transform: translateY(-50%);
          visibility: visible; }
      body .kuri-fnf .slide video {
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: auto; }
        body .kuri-fnf .slide video.is-playing {
          opacity: 1;
          visibility: visible; }
    body .kuri-fnf .slide-links {
      display: flex;
      position: absolute;
      min-width: 20px;
      max-width: 40px;
      right: calc(5px + 3vw);
      margin-right: -13px;
      top: 50%;
      transform: translateY(-50%);
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      z-index: 10; }
      body .kuri-fnf .slide-links a {
        display: block;
        padding: 8px; }
        body .kuri-fnf .slide-links a:after {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 6px;
          background-color: black;
          border: 2px solid black;
          transition: background-color 300ms; }
        body .kuri-fnf .slide-links a:hover:after {
          background-color: rgba(0, 0, 0, 0.85); }
        body .kuri-fnf .slide-links a.active:after {
          background-color: transparent; }
    body .kuri-fnf button {
      border: none;
      background-color: transparent;
      margin: 0 1%;
      padding: 10px;
      outline: none;
      cursor: pointer;
      transition: opacity 300ms ease-in-out, transform 300ms ease-in-out, visibility 300ms ease;
      transition-duration: 600ms;
      pointer-events: auto; }
      body .kuri-fnf button.hide {
        opacity: .35;
        cursor: none;
        pointer-events: none; }
    body .kuri-fnf .interaction {
      position: absolute;
      z-index: 5;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0; }
