@font-face {
  font-family: 'KuriTTF';
  src: url('/fonts/KuriTTF-reg.ttf') format('truetype'),
  url('/kuri/fonts/KuriTTF-reg.ttf') format('truetype');
}

@font-face {
  font-family: 'KuriTTF-Bold';
  src: url('/fonts/KuriTTF-bold.ttf') format('truetype'),
  url('/kuri/fonts/KuriTTF-bold.ttf') format('truetype');
}

$anim-trans: opacity 300ms ease-in-out, transform 300ms ease-in-out, visibility 300ms ease;
$break-small: 768px;
$break-large: 1200px;
$base-font-size: 10px;
$font-stack: KuriTTF, Helvetica, Arial, sans-serif;
$font-stack-bold: KuriTTF-Bold, Helvetica, Arial, sans-serif;
$primary-font-color: #333;
$gutter: calc(5px + 3vw);

body {
  margin: 0;

  .kuri-fnf {
    font: 100% $font-stack;
    color: $primary-font-color;
    height: calc(100vh - 84px);
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    position: relative;

    .slide {
      display: flex;
      height: 100%;
      width: 100vw;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      .copy {
        opacity: 0;
        visibility: hidden;
        transition: $anim-trans;
        position: absolute;
        top: 50%;
        transform: translateY(-42%);
        justify-content: center;
        left: $gutter;
        z-index: 10;
        height: 50%;
        display: flex;
        flex-direction: column;
        pointer-events: none;

        h3 {
          font-size: calc(13px + 2.4vw);
          line-height: 1;
          margin: 0 0 1vw;
          font-family: $font-stack-bold;
          pointer-events: none;
        }

        p {
          font-size: calc(13px + .9vw);
          pointer-events: none;
        }

        &.end-cap {
          width: 100%;
          top: 25%;
          left: 0;
          text-align: center;
          pointer-events: none;

          a {
            color: $primary-font-color;
            text-decoration: none;
            margin: 0 10px;
            padding-bottom: 3px;
            font-size: 24px;
            border-bottom: 2px solid black;
            pointer-events: auto;
          }

        }

        &.show-copy {
          opacity: 1;
          transform: translateY(-50%);
          visibility: visible;
        }
      }

      video {
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: auto;

        &.is-playing {
          opacity: 1;
          visibility: visible;
        }
      }

    }

    .slide-links {
      display: flex;
      position: absolute;
      min-width: 20px;
      max-width: 40px;
      right: $gutter;
      margin-right: -13px;
      top: 50%;
      transform: translateY(-50%);
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      z-index: 10;

      a {
        display: block;
        padding: 8px;
        &:after {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 6px;
          background-color: rgba(0, 0, 0, 1);
          border: 2px solid rgba(0, 0, 0, 1);
          transition: background-color 300ms;
        }

        &:hover:after {
          background-color: rgba(0, 0, 0, .85);
        }

        &.active:after {
          background-color: rgba(0, 0, 0, 0);
        }
      }
    }

    button {
      border: none;
      background-color: transparent;
      margin: 0 1%;
      padding: 10px;
      outline: none;
      cursor: pointer;
      transition: $anim-trans;
      transition-duration: 600ms;
      pointer-events: auto;

      &.hide {
        opacity: .35;
        cursor: none;
        pointer-events: none;
      }
    }

    .interaction {
      position: absolute;
      z-index: 5;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}
